<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/abfd00ff-5f96-443e-992d-436b28b16ee8/resourceGroups/ContactManagementApp_group/providers/Microsoft.Web/sites/ContactManagementApp</ResourceId>
    <ResourceGroup>ContactManagementApp_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://contactmanagementapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://contactmanagementapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ContactManagementApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>